.container {
  background: linear-gradient(
    to right,
    #00AA90 0%,
    #00AA90 25%,
    white 25%,
    white 100%
  );
  height: 100%;
  width: 100%;

  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  color: #003E91;
}
a {
    color: #003E91;
}
.side-color {
  color: #00AA90;
}
.section h4 {
    color: white;
    text-transform: uppercase;
    border-bottom: #003E91 solid 2px;
    padding-bottom: 10px;
}
.title {
    font-weight: bold;
    text-transform: uppercase;
}
.job {
    display: block;
    padding-bottom: 10px;
}
.date {
    color: white;
    display: inline-block;
    text-align: right;
}
.description {
    display: inline-block;
}
.list-unstyled {
    list-style-type: none;
}
