.container {
    background: linear-gradient(
        to right,
        #008B8D 0%,
        #008B8D 25%,
        white 25%,
        white 100%
    );
    height: 100%;
    width: 100%;

    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    color: #005572;
}
a {
    color: #005572;
}
.side-color {
    color: #008B8D;
}
.section h4 {
    color: white;
    text-transform: uppercase;
    border-bottom: #005572 solid 2px;
    padding-bottom: 10px;
}
.title {
    font-weight: bold;
    text-transform: uppercase;
}
.job {
    display: block;
    padding-bottom: 10px;
}
.date {
    color: white;
    display: inline-block;
    text-align: right;
}
.description {
    display: inline-block;
}
.list-unstyled {
    list-style-type: none;
}
