body {
  background: linear-gradient(
    to right,
    #58B1B9 0%,
    #58B1B9 25%,
    white 25%,
    white 100%
  );
  height: 100%;
  width: 100%;

  font-family: sans-serif;
  line-height: 150%;
  /*text-shadow: 0 2px 2px #1f1f1f;*/
}

.first-name {
  color: #58B1B9;
}

.employment>h2{
  color: white;
  border-bottom: #003171 solid 2px;
}
